.navigation-left {
    width: 30%;
    transform: rotate(-90deg);
    left:-10%;
    top:45%;
    justify-content: space-evenly;
    z-index:4;
    position: fixed;
    nav {
        ul {
            width:100%;
            display:flex;
            list-style: none;
            justify-content: space-evenly;

            li {
                font-size: 1rem;
                font-weight: 600;
                letter-spacing: 0.14rem;
            }
        }
    }
        
}